detect_violation_yangi (3).json
{
  "name": "detect_violation_yangi",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        0
      ],
      "id": "8205a04d-df4e-4446-a301-511f038aff10",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "631a5a30-1d08-4b33-bc13-0d47cf17de7b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -336
      ],
      "id": "849d9adc-56b7-4631-9ba9-857b2d7ccc7e",
      "name": "Webhook",
      "webhookId": "631a5a30-1d08-4b33-bc13-0d47cf17de7b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO answers (session_id, answer,position,type)\nVALUES ($1, $2::jsonb, $3, 'violation');",
        "options": {
          "queryReplacement": "=[\n{{ $('Edit Fields').item.json.message_key }},\n{{ JSON.stringify(Object.fromEntries(\n  Object.entries($json).filter(([key]) => key !== 'gen_overtime')\n)) }},\n[{{ $('Edit Fields').item.json.positioin }}],\n\n] "
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        -272
      ],
      "id": "fb358304-d27c-427a-8ea1-edae91002f0b",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "9PkVclWNXi7t3W0k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        -144
      ],
      "id": "b0d4e075-ae78-4a2b-8d75-b6b523cc738f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node\n// let inputBody;\n\n// try {\n//   inputBody =  $input.first().json.body\n    \n// } catch (e) {\n//     inputBody = $json[\"data\"] ;\n// }\n// Kirish ma'lumotlari\n// const inputBody = $('When Executed by Another Workflow').all()[0].json.cycles;\nconst inputBody =  $input.first().json.cycles\n\n// type: 1 => shift_rest\n// type: 0 => shift\nconst type = inputBody.type;\nconst events = inputBody.events || [];\n\n// Event mapping obyekti\nconst eventMapping = {\n    1: {\n        1: [\"DS_OFF\", \"Ishdan tashqari\"],\n        2: [\"DS_SB\", \"Uxlayapti yoki dam\"],\n        3: [\"DS_D\", \"Haydash jarayonida\"],\n        4: [\"DS_ON\", \"Ish holati, haydamaydi\"],\n    },\n    2: {\n        1: [\"INTER_NORMAL_PRECISION\", \"To‘liq joylashuv\"],\n        2: [\"INTER_REDUCED_PRECISION\", \"Noaniq joylashuv\"],\n    },\n    3: {\n        1: [\"PS_USE\", \"Shaxsiy foydalanish\"],\n        2: [\"YRD_MOVE\", \"Yard ichida harakat\"],\n        0: [\"PS_CLEAR\", \"Shaxsiy rejim bekor\"],\n    },\n    4: {\n        1: [\"DR_CERT_1\", \"1-tasdiqlash\"],\n        2: [\"DR_CERT_2\", \"2-tasdiqlash\"],\n        3: [\"DR_CERT_3\", \"3-tasdiqlash\"],\n        4: [\"DR_CERT_4\", \"4-tasdiqlash\"],\n        5: [\"DR_CERT_5\", \"5-tasdiqlash\"],\n        6: [\"DR_CERT_6\", \"6-tasdiqlash\"],\n        7: [\"DR_CERT_7\", \"7-tasdiqlash\"],\n        8: [\"DR_CERT_8\", \"8-tasdiqlash\"],\n        9: [\"DR_CERT_9\", \"9-tasdiqlash\"],\n    },\n    5: {\n        1: [\"DR_LOGIN\", \"Haydovchi tizimga kirdi\"],\n        2: [\"DR_LOGOUT\", \"Haydovchi tizimdan chiqdi\"],\n    },\n    6: {\n        1: [\"ENG_UP_NORMAL\", \"Motor ishga tushdi (GPS aniq)\"],\n        2: [\"ENG_UP_REDUCED\", \"Motor ishga tushdi (GPS noaniq)\"],\n        3: [\"ENG_DOWN_NORMAL\", \"Motor o‘chirildi (GPS aniq)\"],\n        4: [\"ENG_DOWN_REDUCED\", \"Motor o‘chirildi (GPS noaniq)\"],\n    },\n    7: {\n        1: [\"MALF_LOGGED\", \"Nosozlik qayd etildi\"],\n        2: [\"MALF_CLEARED\", \"Nosozlik bartaraf qilindi\"],\n        3: [\"DIAG_LOGGED\", \"Diagnostika xatosi bor\"],\n        4: [\"DIAG_CLEARED\", \"Diagnostika tuzatildi\"],\n    }\n};\n\n// Eventlarni boyitish\nconst processedEvents = events.map(ev => {\n    const type = ev.eventType;\n    const code = ev.eventCode;\n\n    let eventName = \"\";\n    let eventDesc = \"\";\n\n    if (eventMapping[type] && eventMapping[type][code]) {\n        eventName = eventMapping[type][code][0];\n        eventDesc = eventMapping[type][code][1];\n    } else {\n        eventName = ev.eventCodeDescription || `UNKNOWN_${type}_${code}`;\n        eventDesc = ev.eventTypeDescription || \"Noma'lum holat\";\n    }\n\n    return {\n        id : ev.id,\n        dateTime: ev.dateTime,\n        durationInSeconds: ev.durationInSeconds,\n        event: eventName,\n        eventDescription: eventDesc,\n        longitude: ev.longitude,\n        latitude: ev.latitude,\n        calculatedLocation: ev.calculatedLocation,\n        manualLocation: ev.manualLocation || '',\n        totalEngineHours: ev.totalEngineHours || 0,\n        totalVehicleMiles: ev.totalVehicleMiles,\n        originalEventType: type,\n        originalEventCode: code\n    };\n});\n\n// Natija obyekt nomi type asosida tanlanadi\nconst outputKey = type === 1 ? \"shift_rest\" : \"shift\";\n\n// Yakuniy chiqish\nreturn {\n  \"question\":{\n    [outputKey]: processedEvents}\n\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -144
      ],
      "id": "5ec060ed-ec74-498b-bd52-797e77faee18",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst position = $('Edit Fields').first().json.positioin\n// ================= CONSTANTS =================\nconst PTI_MIN = 900;                 // 15 min\nconst BREAK_AFTER = 28800;           // 8 soat\nconst BREAK_MIN = 1800;              // 30 min\nconst DRIVE_LIMIT = 39600;           // 11 soat\nconst SHIFT_LIMIT = 50400;           // 14 soat\nconst REST_MIN = 36000;              // 10 soat\n\n// INTER NORMAL PRECISION\nconst INTER_PRECISION_INTERVAL = 3600; // 1 soat\nconst INTER_PRECISION_WINDOW = 900;    // ±15 daqiqa\n\n// ================= VALIDATION =================\nif (!data || !data.question) {\n  return { violations: \"kiruvchi ma'lumotlar yo'q\" };\n}\n\n// =================================================\n// ================= SHIFT LOGIC ===================\n// =================================================\nif (\"shift\" in data.question) {\n  const shift = data.question.shift;\n\n  if (!Array.isArray(shift) || shift.length === 0) {\n    return { violations: \"shift bo'sh\" };\n  }\n\n  // ================= SHIFT START / END =================\n  const shiftStartDate = new Date(shift[0].dateTime);\n  const shiftEndDate = new Date(shift[shift.length - 1].dateTime);\n\n  const shiftStartSec = shiftStartDate.getTime() / 1000;\n  const shiftEndSec = shiftEndDate.getTime() / 1000;\n\n  const shift_duration =\n    (shiftEndSec - shiftStartSec) +\n    (shift[shift.length - 1].durationInSeconds || 0);\n\n  const shift_violation = SHIFT_LIMIT-shift_duration ;\n\n  // ================= PTI =================\n  let pti_duration = 0;\n\n  for (const ev of shift) {\n    if (ev.event === \"DS_D\") break;\n    if (ev.event === \"DS_ON\") {\n      pti_duration += ev.durationInSeconds || 0;\n    }\n  }\n\n  const pti_violation = pti_duration - PTI_MIN;\n\n  // ================= DRIVING =================\n  let driving_duration = 0;\n\n  for (const ev of shift) {\n    if (ev.event === \"DS_D\") {\n      driving_duration += ev.durationInSeconds || 0;\n    }\n  }\n\n  const driving_violation =  DRIVE_LIMIT-driving_duration ;\n\n  // ================= BREAK (30 MIN RULE) =================\n  let driving_since_break = 0;\n  let break_violation = 0;\n  let used_break_time = 0;\n\n  for (const ev of shift) {\n    const duration = ev.durationInSeconds || 0;\n\n    if (ev.event === \"DS_D\") {\n      driving_since_break += duration;\n\n      if (driving_since_break > BREAK_AFTER) {\n        break_violation = BREAK_AFTER - driving_since_break;\n        break;\n      }\n    }\n    else if (ev.event === \"DS_OFF\" || ev.event === \"DS_SB\") {\n      if (duration >= BREAK_MIN) {\n        used_break_time = duration;\n        driving_since_break = 0;\n        break;\n      }\n    }\n  }\n\n // ================= INTER NORMAL PRECISION (DRIVING-SEGMENT BASED) =================\nconst inter_precision_results = [];\n\n// DRIVING eventlarni indekslari bilan olamiz\nconst drivingEvents = shift\n  .map((ev, idx) => ({ ev, idx }))\n  .filter(x => x.ev.event === \"DS_D\");\n\n// INTER eventlarni oldindan ajratib olamiz\nconst interEvents = shift.filter(ev => ev.event === \"INTER_NORMAL_PRECISION\");\n\nfor (const drivingBlock of drivingEvents) {\n  const drivingEv = drivingBlock.ev;\n  const drivingIdx = drivingBlock.idx;\n\n  const drivingStartSec =\n    new Date(drivingEv.dateTime).getTime() / 1000;\n\n  const drivingEndSec =\n    drivingStartSec + (drivingEv.durationInSeconds || 0);\n\n  // Drivingdan keyin keladigan birinchi duration > 0 bo‘lgan event\n  let drivingEndEventId = null;\n\n  for (let i = drivingIdx + 1; i < shift.length; i++) {\n    const nextEv = shift[i];\n    if ((nextEv.durationInSeconds || 0) > 0) {\n      drivingEndEventId = nextEv.id ?? null;\n      break;\n    }\n  }\n\n  const trueIntermeditates = [];\n  const falseIntermeditates = [];\n\n  // Har 1 soatni tekshiramiz\n  for (\n    let expectedSec = drivingStartSec + INTER_PRECISION_INTERVAL;\n    expectedSec < drivingEndSec;\n    expectedSec += INTER_PRECISION_INTERVAL\n  ) {\n    const expectedISO = new Date(expectedSec * 1000).toISOString();\n\n    // Shu expected vaqtga yaqin INTER bormi\n    const nearestInter = interEvents.find(ev => {\n      const evSec = new Date(ev.dateTime).getTime() / 1000;\n      return Math.abs(evSec - expectedSec) <= INTER_PRECISION_WINDOW;\n    });\n\n    if (!nearestInter) {\n      // Umuman yo‘q → qo‘yilishi kerak\n      trueIntermeditates.push(expectedISO);\n    } else {\n      const actualISO = new Date(nearestInter.dateTime).toISOString();\n\n      // Bor, lekin vaqti noto‘g‘ri\n      if (actualISO !== expectedISO) {\n        falseIntermeditates.push(actualISO);\n        trueIntermeditates.push(expectedISO);\n      }\n    }\n  }\n\n  // Agar hech bo‘lmasa bitta muammo bo‘lsa — resultga qo‘shamiz\n  if (trueIntermeditates.length > 0 || falseIntermeditates.length > 0) {\n    inter_precision_results.push({\n      drivingEventId: drivingEv.id ?? null,\n      drivingEndEventId,\n      trueIntermeditate: trueIntermeditates,\n      falseIntermeditetate: falseIntermeditates\n    });\n  }\n}\n\n\n  // ================= GEN OVERTIME (EVENT-LEVEL) =================\n  const gen_overtime = [];\n\n  let remaining_pti = pti_duration;\n  let remaining_break = used_break_time;\n\n  for (const ev of shift) {\n    let duration = ev.durationInSeconds || 0;\n    if (duration <= 0) continue;\n\n    let overtime_part = 0;\n\n    // DRIVING → gen_overtime emas\n    if (ev.event === \"DS_D\") {\n      continue;\n    }\n\n    // DS_ON → PTI dan ayiramiz\n    if (ev.event === \"DS_ON\") {\n      if (remaining_pti > 0) {\n        const used = Math.min(remaining_pti, duration);\n        remaining_pti -= used;\n        duration -= used;\n      }\n\n      if (duration > 0) {\n        overtime_part = duration;\n      }\n    }\n\n    // DS_OFF / DS_SB → BREAK dan ayiramiz\n    else if (ev.event === \"DS_OFF\" || ev.event === \"DS_SB\") {\n      if (remaining_break > 0) {\n        const used = Math.min(remaining_break, duration);\n        remaining_break -= used;\n        duration -= used;\n      }\n\n      if (duration > 0) {\n        overtime_part = duration;\n      }\n    }\n\n    if (overtime_part > 0) {\n      gen_overtime.push({\n        event_id: ev.id ?? null,\n        event: ev.event,\n        dateTime: ev.dateTime,\n        time: overtime_part\n      });\n    }\n  }\n\n  // ================= FINAL OUTPUT =================\n  return {\n    shift_type: \"shift\",\n    shift_duration,\n    shift_violation,\n    pti_duration,\n    pti_violation,\n    driving_duration,\n    driving_violation,\n    break_violation,\n    inter_normal_precision_missing: inter_precision_results,\n    gen_overtime,\n    position\n  };\n}\n\n// =================================================\n// ================= SHIFT REST LOGIC ===============\n// =================================================\nelse if (\"shift_rest\" in data.question) {\n  const rest_events = data.question.shift_rest;\n\n  let rest_duration = 0;\n  const gen_overtime = [];\n\n  // OFF va Sleeper vaqtlarini yig'amiz\n  for (const ev of rest_events) {\n    if (ev.event === \"DS_OFF\" || ev.event === \"DS_SB\") {\n      rest_duration += ev.durationInSeconds || 0;\n    }\n  }\n\n  const rest_violation = rest_duration - REST_MIN;\n\n  // Agar ortiqcha vaqt bo'lsa (10 soatdan ko'p)\n  if (rest_violation > 0) {\n    let remaining_overtime = rest_violation;\n\n    // Eventlarni teskari tartibda o'qiymiz (oxiridan boshlab)\n    for (let i = rest_events.length - 1; i >= 0 && remaining_overtime > 0; i--) {\n      const ev = rest_events[i];\n\n      if (ev.event === \"DS_OFF\" || ev.event === \"DS_SB\") {\n        const duration = ev.durationInSeconds || 0;\n\n        if (duration > 0) {\n          const overtime_part = Math.min(remaining_overtime, duration);\n\n          // Listning boshiga qo'shamiz (chunki teskari o'qiyapmiz)\n          gen_overtime.unshift({\n            event_id: ev.id ?? null,\n            event: ev.event,\n            dateTime: ev.dateTime,\n            time: overtime_part\n          });\n\n          remaining_overtime -= overtime_part;\n        }\n      }\n    }\n  }\n\n  return {\n    shift_type: \"shift_rest\",\n    rest_duration,\n    rest_violation,\n    gen_overtime,\n    position\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -144
      ],
      "id": "df1ad44b-4507-4c53-b1d5-87eb09a611fb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"cycles\":  {{JSON.stringify($json.cycles) ||JSON.stringify($json.body.cycles)}},\n    \"message_key\":\"{{ $json.message_key || $json.body.message_key}}\" ,\n\"positioin\":[{{ $json.position || $json.body.position}}]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -144
      ],
      "id": "0ba26cdd-32e5-4e3a-a68a-cca885515b1f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS total\nFROM answers\nWHERE session_id = $1;",
        "options": {
          "queryReplacement": "={{[ $json.body.message_key] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        208
      ],
      "id": "9e30490c-0c40-4eda-bfce-7c6b61950f6e",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "9PkVclWNXi7t3W0k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0c15b2e5-6a0c-4e62-aa2a-5599b89fbfc7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        208
      ],
      "id": "578f0f06-4354-457d-a232-3f234e7bad6c",
      "name": "Webhook1",
      "webhookId": "0c15b2e5-6a0c-4e62-aa2a-5599b89fbfc7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        192,
        208
      ],
      "id": "3a25b371-f7e0-46fa-a8dc-a18de045cb0d",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const genOvertime = $json.gen_overtime ?? [];\nconst message_key = $('Edit Fields').first().json.message_key\nconst type = $input.first().json.shift_type\nreturn genOvertime.map((item, index) => ({\n  json: {\n    ...item ,\n  message_key,\n  type\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        16
      ],
      "id": "2b4c8ea9-bfca-401e-874b-a8c75cfeb5d2",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        16
      ],
      "id": "42f1eaa4-aa0b-40bf-9ffc-8f72718e7293",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1360,
        48
      ],
      "id": "6a349e58-6d85-4307-9a58-0eb6bb769cda"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO overtimes (message_id, event_id, time,start_date,event)\nVALUES (\n  '{{$json.message_key}}',\n  '{{$json.event_id}}',\n  '{{$json.time}}',\n  '{{$json.dateTime}}',\n  '{{$json.event}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        48
      ],
      "id": "4eec10b9-5baf-4b03-ac80-e682c6e1c4ae",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "9PkVclWNXi7t3W0k",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "13c4ab15-bd75-4f4e-a64e-0f5dd8d27602",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db4b0e681f0eee9c442f5f321f39c5ca01fed8a9ac3a130da4919189885d79fd"
  },
  "id": "mg3zbugISe6onMj7",
  "tags": []
}